.c_node {
	stroke: rgba(0, 0, 0, 1);
	fill: rgba(255, 0, 0, 1);
}

.v_node, .a_node {
	stroke: rgba(0, 0, 0, 1);
	stroke-width: 2px;
	fill: #fff;
}

.two_dim_array_e {
	stroke: rgba(0, 0, 0, 1);
	stroke-width: 1px;
	fill: white;
}

.min_a_btn {
	stroke: black;
	stroke-width: 1px;
	fill: white;
}

.exp_a_node {
	stroke: rgba(0, 0, 0, 1);
	stroke-width: 1px;
	fill: none;
}

.straight_link {
	stroke-width: 1px;
	stroke: #808080;
}

.curved_link {
	stroke-width: 1px;
	stroke: #000;
	fill: none;
}

#var_names p {
	margin: 8px;
	color: DimGray;
}

#content {
	position: absolute;
	top: 10px;
	z-index: -1;
}

#sider {
	background: white;
	float: right;
	width: 220px;
}

#v_layout {
	background: rgba(255, 228, 181, 0.2);
	float: left;
	width: 300px;
	height: auto;
}

#search_input {
	width: 200px;
	margin: 5px;
}

#filter_range {
	width: 200px;
	margin: 5px;
}


