.c_node {
	stroke: rgba(0, 0, 0, 1);
	fill: rgba(255, 0, 0, 1);
}

.faded_c_node {
	stroke: rgba(0, 0, 0, 0.5);
	fill: rgba(255, 0, 0, 0.5);
}

.v_node, .a_node {
	stroke: rgba(0, 0, 0, 1);
	stroke-width: 2px;
	fill: #fff;
}

.faded_wnode {
	stroke: rgba(0, 0, 0, 0.5);
}

.two_dim_array_e {
	stroke: rgba(0, 0, 0, 0.5);
	stroke-width: 1px;
	fill: #fff;
	/*fill: none;*/
}

.exp_a_node {
	stroke: rgba(0, 0, 0, .5);
	stroke-width: 1px;
	fill: none;
}

.straight_link {
	stroke-width: 1px;
	stroke: #808080;
}

.curved_link {
	stroke-width: 1px;
	stroke: #000;
	fill: none;
}