
node_modules
classes_uml.dia
data/bacp-1.fzn
data/cars.dat
data/cars.fzn
data/cars_mod.dat
data/golomb.dat
data/golomb_9.fzn
data/golomb_ng.dat
data/golomb_ng_9.dat
data/maxim.dat
data/open_stacks_01_max.fzn
data/open_stacks_01_maximum.fzn
data/queen_cp2.dat
data/queens_ng.dat
js/untitled.sublime-workspace
open_stacks_01.fzn
